.inputForm {
display: flex;
flex-direction: column;
align-items: center;
}

.inputBox {
height: 30px;
width: 400px;
padding: 5px;
border-radius: 10px;
display: block;
margin-bottom: 10px;
}

.submitBtn{
    margin: 20px;
  width: 100px;
  height: 45px;
  background-color: rgba(113, 128, 209, 0.845);
  color: white;
  font-size: large;
  font-weight: bold;
  border-radius: 20px;
}
  